body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(236, 236, 236);
}
header{
    /* background: rgb(212, 170, 16); */
    /* padding: 120px; */
    background: linear-gradient( rgb(205, 154, 25) 3%, goldenrod 20%, rgb(243, 199, 89) 70% );
    height: 800px;
   
}
header p{
    padding: 10px 100px ;
}
header li{
    display: inline;
    padding: 50px;
    font-size: 20px;
}
header li:hover{
    color: white;
    cursor: pointer;
    transition: all .5s;
}

svg.key-couch{
    color: goldenrod;
}

.logo{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.couch{
    position: relative;
    top: 310px; 
}
.buttons{
    float: right;
    padding-right: 50px;
}
.login{
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 8px;
    height: 47px;
    width: 100px;
    border: none;
}
.login:hover{
    background: white;
    color: black;
    transition: all .5s;
}
.signup:hover{
    background-color: white;
    color: black;
    transition: all .5s;
}
.signup{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 47px;
    width: 100px;
    border: none;
}
.login-text, .signup-text{
    font-size: 18px;
}
.download{
    width: 170px;
    height: 40px;
    color: black;
    background-color: goldenrod;
    border: none;
    margin-left: 659px;
    border-radius: 8px;
    position: relative;
    bottom: 460px;
}
.download:hover{
    background-color: black;
    color: white;
}
button .download-text{
    font-size: 15px;
}
/* .icons{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
} */
/* .icons li{
    padding: 120px;
    display: inline;

} */
.flexbox1{
    display: flex;
    /* padding: 10px 600px; */
}
.icons{
    position: relative;
    bottom: 350px;
}

.key-icon{
    border: 8px solid goldenrod;
    padding: 20px;
    border-radius: 50px;
}
.lightbulb{
    margin-left: 100px;
    margin-right: 100px;
}
.creditcard{
    margin-left: 100px;
    margin-right: 100px;
}
.key{
    margin-left: 100px;
    margin-right: 100px;
}
.key h3, .key p, .key, .lightbulb, .creditcard{
    text-align: center;
    
}
section.our-partners{
    position: relative;
    bottom: 300px;
}
h2.our-patners{
    text-align: center;
    font-size: 35px;
    color: goldenrod;
}
.table{
    margin-left: 800px;
    position: relative;
    bottom: 380px; 
    right: 150px;
    /* margin-bottom: 20px; */
}

.tableandtext{
    padding: 10px 80px;
    position: relative;
    bottom: 80px;
}
.relax, .tablesignup{
    margin-left: 240px;
}
.tablesignup{
    background-color: goldenrod;
    padding: 5px;
    border-radius: 6px;
    width: 100px;
    border: none;

}
.tablesignup-text{
    font-size: 15px;
}
.lamp{
    position: relative;
    left: 350px;
    bottom: 300px;
}
.download-lamp{
    background-color: goldenrod;
    border: none;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    left: 180px;
    bottom: 180px;
}
.download-lamp:hover{
    background-color: black;
    color: white;
}
.long-flex2, .long-flex1{
    width: 300px;
    height: 600px;
    background-color: black;
    border-radius: 15px;
}
.long-flex1{
    position: relative;
    left: 600px;
    bottom: 500px;
}
.flex h2{
    color: goldenrod;
    font-size: 30px;
    position: relative;
    left: 50px;
    top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.key-couch{
    fill: goldenrod;
    position: relative;
    top: 160px;
    left: 100px;
    background: rgb(12, 12, 12);
    padding: 30px;
    border-radius: 50px;
}
.cisco{
    position: relative;
    left: 200px;
}
.itunes{
    position: relative;
    left: 70px;
    top: 5px;
}
.amazon{
    position: relative;
    left: 310px;
    bottom: 60px;
}
.verizon{
    position: relative;
    left: 300px;
    bottom: 80px;
}
.flex p{
    color: white;
    position: relative;
    top: 220px;
    text-align: center;
    font-size: 25px;
}
.flex span{
    color: goldenrod;
    font-size: 20px;
}
.long-flex2{
    position: relative;
    left: 300px;
    height: 290px;
}
.long-flex2 h2{
    color: goldenrod;
        font-size: 30px;
        position: relative;
        left: 50px;
        top: 60px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
